@font-face {
  font-family: "LilitaOne-Regular";
  src: url(../assets/fonts/LilitaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Arial-Regular";
  src: url(../assets/fonts/ARIAL.TTF) format("truetype");
}

@font-face {
  font-family: "Arial-Light";
  src: url(../assets/fonts/ARIALLGT.TTF) format("truetype");
}

@font-face {
  font-family: "Arial-Medium";
  src: url(../assets/fonts/ArialMdm.ttf) format("truetype");
}